/* SECTION Global Properties */

#content-header {
	font-size: 3.5em;
	font-weight: bold;
	text-align: center;
}

.content-image {
	width: 80%;
	border-radius: 20px;
	margin: 1em auto;
}

/* !SECTION */

/* SECTION Mobile Phones */
@media only screen and (max-width: 699px) {
}
/* !SECTION */

/* SECTION Tablets and Laptops */
@media only screen and (min-width: 700px) {
	#content-area p {
		margin: 1em 12% 0.5em 12%;
	}
	#content-area h2 {
		margin: 1em 12% 0.5em 12%;
	}
}
/* !SECTION */
