/* SECTION CSS Variables */

:root {
	--blue: #1e90ff;
}

/* !SECTION */

/* SECTION Global Properties */
.blue-text {
	color: var(--blue);
}

#content-area h1 {
	text-align: center;
	border-bottom: #1e90ff 2px solid;
	margin-bottom: 1em;
}
#content-area a {
	color: inherit;
}
#content-area a:hover {
	color: var(--blue);
}
/* !SECTION */

/* SECTION Mobile Phones */
@media only screen and (max-width: 699px) {
}
/* !SECTION */

/* SECTION Tablets and Laptops */
@media only screen and (min-width: 700px) {
}
/* !SECTION */
