/* SECTION CSS Variables */

:root {
	--font-family: "Roboto", sans-serif;
	--font-size: 16px;
	--text: #333;
	--text-light: #c9c9c9;
	--text-dark: #212121;
	--dark-blue: #173869;

	--background: #474747;
	--background-light: #e7e7e7;
	--background-dark: #173869;
	--sidebar-background: #122846;
	--footer-background: #1a283d;

	--button-light: #e7e7e7;
	--button-light-hover: #dadada;
	--button-light-active: #c9c9c9;
	--button-dark: #16449963;
	--button-dark-hover: #164499a1;
	--button-dark-active: #164499d0;

	--primary: #258ee4d2;
	--primary-hover: #1e81d3d2;
	--primary-active: #1573c0d2;
	--secondary: #9fc0eb;
	--secondary-hover: #94b7e0;
	--secondary-active: #88addd;

	--border: #333;
	--border-light: #dadada;
	--border-dark: #002b6b2d;
}

/* !SECTION */

/* SECTION Global Properties */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--background-dark);
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--dark-blue);
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

/* ANCHOR Header */

#main-nav {
	background-color: var(--background-light);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	z-index: 2;
	box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.5);
}
#main-nav .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5em;
}
.logo img {
	width: 100px;
	height: 100px;
}
.logo p {
	width: 120px;
	white-space: nowrap;
	color: var(--dark-blue);
}

.menu-button {
	padding: 1.5em;
	margin: 1em;
	cursor: pointer;
	border: none;
	background: none;
	border-radius: 50%;
}
.button-light {
	background-color: var(--button-light);
	color: var(--dark-blue);
}
.button-dark {
	background-color: var(--button-dark);
	color: var(--text-light);
}
.button-light:hover {
	background-color: var(--button-light-hover);
}
.button-dark:hover {
	background-color: var(--button-dark-hover);
}
.button-light:active {
	background-color: var(--button-light-active);
}
.button-dark:active {
	background-color: var(--button-dark-active);
}

/* ANCHOR Navbar */
#navbar-items ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
#navbar-items li {
	width: 100%;
	display: flex;
	justify-content: center;
}
#navbar-items a {
	text-decoration: none;
	color: var(--text);
	background-color: var(--secondary); /*0bd2e1*/
	padding: 10px;
	border-radius: 20px;
	border: 1px solid var(--border-dark);
	width: 70%;
	text-align: center;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
#navbar-items a:hover {
	background-color: var(--secondary-hover);
}

#navbar-items a:active {
	background-color: var(--secondary-active);
}

#navbar-items .current {
	color: var(--text-light);
	background-color: var(--primary);
}
#navbar-items .current:hover {
	background-color: var(--primary-hover);
}
#navbar-items .current:active {
	background-color: var(--primary-active);
}

/* ANCHOR Sidebar */

#sidebar {
	background-color: var(--sidebar-background);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	flex-grow: 1;
}
#sidebar ul {
	list-style: none;
	padding: 1em;
}
#sidebar li {
	display: block;
	padding: 1em 0.5em;
	border-bottom: var(--secondary) thin solid;
}
#sidebar a {
	text-decoration: none;
	color: var(--text-light);
	text-align: center;
	padding: 0.5em 1.5em 0.5em 1.5em;
	border-radius: 20px;
}

#sidebar a:hover {
	background-color: var(--primary-hover);
}

#sidebar a:active {
	background-color: var(--primary-active);
}

/* ANCHOR Content */
#content-area {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: var(--background-light);
	border-radius: 15px;
	padding: 1em;
	margin: 1em;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* ANCHOR Footer */
footer {
	text-align: center;
	background-color: var(--footer-background);
	color: var(--text-light);
	padding: 1em;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
/* !SECTION */

/* SECTION Mobile Phones */
@media only screen and (max-width: 699px) {
	/* ANCHOR Header */

	#navbar-items {
		position: relative;
		margin-top: -5em;
		border-top: var(--border-dark) thin solid;
		box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.5);
		background-color: var(--background-light);
		transition: 0.3s;
	}

	/* ANCHOR Sidebar */
	#menu-button-sidebar {
		position: fixed;
		bottom: -0.7em;
		left: 1em;
		transition: 0.3s;
		z-index: 1;
	}

	#sidebar {
		width: 100%;
		height: 0px;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
		position: fixed;
		z-index: 1;
		bottom: 0;
		transition: 0.3s;
	}
}
/* !SECTION */

/* SECTION Tablets and Laptops */
@media only screen and (min-width: 700px) {
	body {
		display: grid;
		grid-template-columns: 230px repeat(11, 1fr);
		grid-template-rows: 150px 5fr 150px;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	/* ANCHOR Header */
	#menu-button-navbar {
		display: none;
	}
	#main-nav {
		grid-area: 1 / 1 / 2 / 13;
		justify-content: flex-start;
		max-height: 150px;
	}
	#navbar-items {
		grid-area: 1 / 2 / 2 / 13;
		z-index: 3;
		align-self: center;
	}

	/* ANCHOR Sidebar */

	#menu-button-sidebar {
		display: none;
	}

	#sidebar {
		grid-area: 2 / 1 / 3 / 3;
	}
	#sidebar ul {
		position: sticky;
		top: 1em;
	}

	/* ANCHOR Content */
	#content-area {
		grid-area: 2 / 3 / 3 / 13;
		margin: 2em;
		padding: 0 4em;
	}

	/* ANCHOR Footer */
	footer {
		grid-area: 3 / 1 / 4 / 13;
	}
}
/* !SECTION */
