/* SECTION Global Properties */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #474747;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.logo img {
	width: 100px;
	height: 100px;
}

.menu-button {
	padding: 1em;
	margin: 1em;
	cursor: pointer;
	border: thin solid #333;
	border-radius: 15px;
}
.menu-button:hover {
	background-color: #dadada;
}
.menu-button:active {
	background-color: #c9c9c9;
}
.logo p {
	width: 120px;
	white-space: nowrap;
}

/* SECTION Header */
#main-nav {
	background-color: #e7e7e7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}
#main-nav .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5em;
}

#navbar-items ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
#navbar-items li {
	width: 100%;
	display: flex;
	justify-content: center;
}
#navbar-items a {
	text-decoration: none;
	color: #333;
	background-color: rgb(183, 220, 241);
	padding: 10px;
	border-radius: 20px;
	width: 70%;
	text-align: center;
}
#navbar-items a:hover {
	background-color: rgb(151, 204, 235);
	color: #333;
}

#navbar-items a:active {
	background-color: rgb(110, 183, 220);
	color: #333;
}

#navbar-items .current {
	color: rgb(212, 212, 212);
	background-color: rgb(0, 135, 212);
}
#navbar-items .current:hover {
	color: rgb(212, 212, 212);
	background-color: rgb(10, 128, 197);
}
#navbar-items .current:active {
	color: rgb(212, 212, 212);
	background-color: rgb(11, 118, 180);
}
/* ANCHOR BODY */

#content-area {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #e7e7e7;
	border-radius: 15px;
	padding: 1em;
	margin: 1em;
}

/* ANCHOR FOOTER */
footer {
	text-align: center;
	background-color: #353535;
	color: #c9c9c9;
	padding: 1em;
}
/* !SECTION */
/* !SECTION */

/* SECTION Mobile Phones */
@media screen and (max-width: 699px) {
	/* body {
	} */

	/* SECTION Header */
	/* #menu-button-navbar {
		justify
	} */

	#navbar-items {
		position: relative;
		/* top: 2.5em; */
		/* width: 100%; */
		margin-top: -4.5em;
		border-top: rgb(110, 110, 110) thin solid;
		border-bottom: rgb(110, 110, 110) thin solid;
		background-color: #e7e7e7;
		transition: 0.3s;
	}
	/* !SECTION */

	/* SECTION SIDEBAR */
	#menu-button-sidebar {
		position: fixed;
		bottom: 0;
		transition: 0.3s;
		z-index: 1;
	}

	#sidebar {
		width: 100%;
		height: 0px;
		background-color: #2c2c2c;
		color: #c9c9c9;
		position: fixed;
		z-index: 1;
		bottom: 0;
		transition: 0.3s;
	}

	#sidebar-content ul {
		list-style: none;
	}
	#sidebar-content li {
		display: block;
		padding: 1em 0.5em;
		margin-right: 2em;
		border-bottom: rgb(110, 110, 110) thin solid;
	}
	#sidebar-content li a {
		text-decoration: none;
		color: #c9c9c9;
		text-align: center;
	}
	/* !SECTION */
}
/* !SECTION */

/* SECTION Tablets and Laptops */
@media screen and (min-width: 700px) {
	/* body {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 0.5fr 2fr 0.5fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	} */

	/* SECTION Header */
	/* #main-nav {
		grid-area: 1 / 1 / 2 / 13;
	} */

	#menu-button-navbar {
		display: none;
	}
	/* !SECTION */

	/* SECTION SIDEBAR */

	#menu-button-sidebar {
		display: none;
	}

	/* !SECTION */
}
/* !SECTION */
