body {
	background-color: #474747;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
}

/* ANCHOR HEADER */
body header {
	background-color: #e7e7e7;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.logo {
	grid-column: 1 / 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.logo p {
	width: 120px;
	white-space: nowrap;
}

#navbar-menu-button {
	justify-self: end;
	margin: 1em;
	grid-column: 4 / 5;
	border: thin solid #333;
	border-radius: 15px;
}
.menu-icon {
	/* width: 67.5%;
	height: 67.5%; */
	width: 3em;
	height: 3em;
	margin: 1em;
}

#main-nav nav {
	display: none;
}
#main-nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}
#main-nav ul li a {
	text-decoration: none;
	color: #3a3a3a;
}

/* ANCHOR SIDEBAR */
body aside {
	background-color: #f2f2f2;
}

/* ANCHOR MAIN */
body main {
	background-color: #f2f2f2;
}

/* ANCHOR FOOTER */
body footer {
	background-color: #f2f2f2;
}

/* ANCHOR HEADER */
/* body header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #f2f2f2;
	padding: 0.5rem;
}

.logo {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.logo p {
	width: 120px;
	white-space: nowrap;
}

#main-nav nav {
	grid-column: 2/5;
	align-self: center;
}

#main-nav ul {
	display: flex;
	justify-content: space-between;
	margin-right: 10%;
	list-style: none;
}

#main-nav ul li {
	margin: 0 10px;
	padding: 0.5em 3em;
	border-radius: 20px;
	background-color: rgb(172, 217, 255);
}

#main-nav ul li a {
	text-decoration: none;
	color: #3a3a3a;
} */
